/* Empty. Add your own CSS if you like */
.uppercase {
	text-transform: uppercase;
}
.visited { text-decoration: line-through; }
.visited .item-content, .visited .item-options .button { background-color: #EEEEEE; }
/* Overwrite background style for unvisited options button */
ion-item .item-options .button { background-color: white; }

i.today-placeholder { font-size: 16px !important; }
.border-top-2 { border-top: 2px solid; }

/* form validation */
#form input[type=text] { padding: 5px; }
input[type=text].ng-invalid {
	border-left: 3px solid #cc2311 !important;
}
input[type=text].ng-valid {
	border-left: 3px solid #498f24 !important;
}

/* edit, remove icon align */
.button .icon.icon-list-vertical-align {
	vertical-align: text-top;
}
#settings-list button i { width: 24px; }

.inline-days label { width: 14.2%; }
.inline-days label input[type=checkbox] { margin: auto; }
.inline-days span { display: inline-block; width: 14.2%; text-align: center}

/* ion-footer in home view (see ticket # )*/
ion-footer-bar.home-footer {
	padding: 0;
}
ion-content.home-content.has-footer {
	bottom: 49px;
}
